<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Hey there!This website is created by Sonu Shashank</p>
        <img class="portrait" src="/image/me.jpg">
</div>
    
    {{>footer}}
    
    
</body>


</html>