<!DOCTYPE html>
<html>

<head>
    <title>Weather-App</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

    </script>
</head>

<body>
    
    <div class="main-content">
    <img class="w3-circle" src="/image/weather.png">
        
       {{>header}}
       <p>Use this site to get your weather!</p>
        
       <form>
           <input placeholder="Location">
           <button>
               Search
           </button>
       </form>
       <p id="message-1"></p>
       <p id="message-2"></p>

    </div>
    
    {{>footer}}
    <script src="/JS/app.js"></script>
 
</body>

</html>